---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import { CustomPatternLoader } from "@/components/CustomPatternLoader";
import { FabricModelSelect } from '@/components/FabricModelSelect';
import { Separator } from '@/components/ui/separator';
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import { Textarea } from '@/components/ui/textarea';
import { Button } from '@/components/ui/button';
import Markdown from 'marked-react';
---

<Layout title="Welcome to Fabric.">
	<main>
		<h1>Fabric's <span class="text-gradient">Custom Patterns</span></h1>
		<p class="instructions">
			To get started, choose an existing fabric <code>pattern</code> on the left, 
      and paste in your custom INPUT document in the center. 
      Tweak the pattern and iterate to see what the output would be like 
      from this pattern. Save the pattern and reuse it again and again.
		</p>
		<FabricModelSelect client:load />
		<Separator className="my-4" />
		<section class="grid h-full grid-cols-3 gap-4">
      <Card>
        <CardHeader>
          <CardTitle>Customize the Pattern</CardTitle>
          <CardDescription>Load an existing pattern to customize</CardDescription>
        </CardHeader>
        <CardContent className="grid grid-flow-row grid-rows-4 gap-4">
						<CustomPatternLoader client:load />
				</CardContent>
      </Card>
			<Card>
        <CardHeader>
          <CardTitle>Paste your INPUT</CardTitle>
          <CardDescription>This is the source document you will run your Fabric pattern upon.</CardDescription>
        </CardHeader>
        <CardContent className="grid grid-flow-row grid-rows-4 gap-4">
            <div class="grow">
              <Textarea
                placeholder="Source Document"
                id="document"
                className="h-full border-box font-code"
                rows={30}
                onChangeCapture={({ currentTarget }) => {}}
              />
            </div>
        </CardContent>
      </Card>
			<Card>
        <CardHeader>
          <CardTitle>Test the LLM</CardTitle>
        </CardHeader>
        <CardContent className="grid grid-flow-row grid-rows-4 gap-4">
            <!-- <Markdown>{[""].join('\n')}</Markdown> -->
        </CardContent>
      </Card>
    </section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
  .instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}

</style>
